/* custom.css */
.nav-tabs>li {
  color: #fff;
  background-color: #2c3e50;
}

ul.nav.nav-tabs>li.active>a,
ul.nav.nav-tabs>li.active:focus>a,
ul.nav.nav-tabs>li.active:hover>a,
ul.nav.nav-tabs>li:focus>a,
ul.nav.nav-tabs>li:hover>a {
  background-color: #2c3e50 !important;
  color: #fff !important;
}


.navbar-custom-menu>.navbar-nav>li:hover,
.navbar-custom-menu>.navbar-nav>li:focus {
  background-color: #2c3e50;
}